*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    --bodyBg : #000000;
    --leftBg : #101010;
    --rightBg : #1d1d1d;
    --fontcolor : #fcfcfc;
    --leftSpotifyMenu : #1c1c1c;
    --header : #101010;
    --signup :#9a9a9a;
}
body{
    color: var(--fontcolor);
    background-color: var(--bodyBg);
}
header{
    background-color: var(--header);
    padding: 25px;
}
.left{
    width: 25vw;
    min-height: 100vh;
    background-color: var(--leftBg);
}
.leftSpotifyMenu{
    background-color: var(--leftSpotifyMenu);
    width: 23vw;
    height: 10vw;
}
.leftSpotifyMenu ul li{
    list-style: none;
}
.right{
    width: 75vw;
    min-height: 100vh;
    background-color: var(--rightBg);
}
.login .signup{
    text-decoration: none;
    font-size: 20px;
    color: var(--signup);
}
.login .signup:hover{
    transform: scale(1.5);
    color: var(--fontcolor);
    transition: all 0.1s ease-in 0s;
}
.btn-cta{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
}
button:hover{
    transform: scale(1.02);
    transition: all 0.1s ease-in 0s;
}
.leftSpotifyMenu ul li a:hover{
    color: var(--fontcolor);
    transition: all 0.1s ease-in 0s;
    transform: scale(1.02);
}
/* .leftSpotifyMenu ul li svg:hover{
    fill: #fcfcfc;
} */