@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}
:root{
    --bodyBg : #000000;
    --leftBg : #101010;
    --rightBg : #171717;
    --fontcolor : #fcfcfc;
    --leftSpotifyMenu : #1c1c1c;
    --header : rgb(34,34,34);
    --signup :#9a9a9a;
    --cardbg : #252525;
}
body{
    color: var(--fontcolor);
    background-color: var(--bodyBg);
}
header{
    background-color: var(--header);
    padding: 25px;
}
.left{
    width: 25vw;
    min-height: 100vh;
    background-color: var(--leftBg);
}
.leftSpotifyMenu{
    background-color: var(--leftSpotifyMenu);
    width: 23vw;
    height: 10vw;
}
.leftSpotifyMenu ul li{
    list-style: none;
}
.right{
    width: 75vw;
    min-height: 100vh;
    background-color: var(--rightBg);
    border-radius: 20px;
    position: relative;
}
.login .signup{
    text-decoration: none;
    font-size: 20px;
    color: var(--signup);
}
.login .signup:hover{
    transform: scale(1.5);
    color: var(--fontcolor);
    transition: all 0.1s ease-in 0s;
}
.btn-cta{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
}
button:hover{
    transform: scale(1.02);
    transition: all 0.1s ease-in 0s;
}
.leftSpotifyMenu ul li a:hover{
    color: var(--fontcolor);
    transition: all 0.1s ease-in 0s;
    transform: scale(1.02);
}
.library{
    min-height: 77.5vh;
    background-color: var(--leftSpotifyMenu);
    position: relative;
}
.foot{
    background-color: var(--leftSpotifyMenu);
    position: absolute;
    bottom: 0;
    /* max-width: 23vw;
    min-height: 7vw; */
    gap: 12px;
    padding: 10px 0px;
}
.hover{

}
.hover:hover{
    color: var(--fontcolor);
    transform: scale(1.05);
    transition: all 0.2s ease-in 0s;
}

.spotifyPlaylist .cardContainer .card{
    width: 200px;
    background-color: var(--cardbg);
    padding: 10px;
    position: relative;
}
.play-button{
    position: absolute;
    bottom: 130px;
    right: 20px;
}
.card > *{
    padding-top: 9px;
}
.spotifyPlaylist .cardContainer .card img{
    width: 100%;
    object-fit: contain;
}
.playbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #65df92;
    padding: 15px;
}
.songList ol{
    padding: 0px 50px;
}
