.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.redBord{
    border: 2px solid red;
    margin: 3px;
}
.pd-20{
    padding: 20px;
}
.mx-10{
    margin: 10px 15px;
}
.border-radius{
    border-radius: 10px;
}
.flex-direction-column{
    flex-direction: column;
}
.invert{
    filter: invert(1);
}
.pointer{
    cursor: pointer;
}
.pd-10{
    padding: 8px 8px;
}
.icon{
    width: 25px;
    height: 25px;
}
.pd-left-20{
    padding: 5px 0px 6px 20px;
}
.text-decor-none{
    text-decoration: none;
    padding-left: 15px;
    padding-top: 2.5px;
}
.font-color{
    color: var(--fontcolor);
}
.fs-18{
    font-size: 18px;
}
.inactive-font-color{
    color: var(--signup);
}
.bottom{
    padding-bottom: 10px;
}